<%= render 'shared/navbar' %>

<div class="banner-show" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80);">
</div>



<div class="container">





<div class="row">

    <div class="flex-title  col-lg-12">
     <h2><%= @restaurant.name %></h2>
     ◆ <%= @restaurant.address %>,
      <%= @restaurant.localisation %><br>
     ◆ <%= @restaurant.style %><br>
     <% if @restaurant.recent.include? 'yes' %>
    <%= image_tag "https://res.cloudinary.com/dcjfitqds/image/upload/v1591013931/new_c1ynni.png", class: "card-logo"%>
<% end %>

   </div>
   <div class="description col-lg-6 ">
    <br>
    <p><%= @restaurant.description %></p>
  </div>


  <div class="mx-auto text-center ">
    <br>
   <%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill%>


    <br>
    <br>
    <a class="btn btn-link btn-outline-success " id="booking-btn" target="_blank" href="https://stkildabxl.be/reservation/">Book a table</a>

  <%= link_to "https://www.instagram.com/bruxellesfood/?hl=fr", class: "navbar-brand" do %>

    <div class="insta ">
    <%= image_tag "https://res.cloudinary.com/dcjfitqds/image/upload/v1590498865/Capture_d_e%CC%81cran_2020-05-26_a%CC%80_15.14.09_kidsum.png" %>
   <% end %>

  </div>
    <%= link_to "Back to list", restaurants_path %>
  <%= link_to "edit", edit_path %>
  <%= link_to "Delete", @restaurant, :method => :delete %>
  </div>

  </div>


  </div>

  <br>


<%= render 'shared/footer' %>
