
<%= render 'shared/navbar' %>

  <div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80);">

    <div class="container">

      <h1> What are you looking for? </h1>
      <p> are you looking for restaurant? </p>
      <%= form_tag restaurants_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Where"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

    </div>

  </div>


<div class="about">
  <div class="container">
    <div class="about_us">
      <h2>About us</h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem nunc, pharetra at tortor eget, tempor volutpat magna. Pellentesque ornare auctor arcu ut maximus. Maecenas tempor tortor ac velit efficitur, nec malesuada lorem placerat. Vivamus rhoncus molestie ipsum, hendrerit varius orci pulvinar quis. Suspendisse commodo volutpat purus. Donec maximus libero sapien, et cursus sem rutrum eget. Pellentesque at libero metus. Suspendisse interdum, metus ultrices dapibus viverra, diam nulla vehicula ante, et molestie lorem purus sed ligula. Mauris consequat ultrices consequat.
      Duis sagittis faucibus nibh nec facilisis. Mauris maximus quis diam ac cursus. Nam ac egestas erat. Nullam ut nisi euismod neque molestie congue sed vitae purus. Pellentesque posuere accumsan justo. Integer vel aliquet ex. Ut ultricies aliquet gravida. Cras sagittis est sed sapien facilisis suscipit. Vivamus auctor ex eget vulputate faucibus. Donec congue convallis facilisis.Eloïse & Valentine </p>
    </div>
  </div>
</div>



<div class="contact">
  <div class="container">
    <h1 class="about_us"> contact us</h1>
    <div class="row">
      <div class="column">
        <div class="card_info"><h5>Collaborations?</h5>
          <p> Le Lorem Ipsum es la composition et la mise en page avant impression. opularisé dans les années 1960 grâce à la vente de
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card_info"><h5>Need advice?</h5>
          <p> Are you un brussels for the weekend ?
        Are you planning a special event with your friends or familY?
      We can suggest you some places!!</p>
    </div>
  </div>
  <div class="column">
    <div class="card_info"><h5>Info's</h5>
      <div class="droite">


      </div>
    </div>
  </div>
  </div>
</div>
</div>


<!--<%= link_to "Know more about us", about_path %>
<%= link_to "Meet our team", contact_path %>
<%= link_to "See all the restaurants", restaurants_path %>-->


<%= render 'shared/footer' %>
