<%= render 'shared/navbar' %>
<div class="container">
  <div class="form_design">
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.input :photo, as: :file %>

<div class="btn-submit">
  <%= f.submit %>
<% end %>
</div>

</div>

