<%= render 'shared/navbar' %>

<div class="container">

  <h1> Carte d'identité de  <%= @restaurant.name %> </h1>
     <hr class="mt-2 mb-5">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.description %></p>

  <%= link_to "Back to list", restaurants_path %>
<%= link_to "edit", edit_restaurant_path %>

</div>
